body{
    background-color: blanchedalmond;
    margin: 50px;
}

h1{
    text-align: center;

}
h4{
    text-align: center;
}
p{
    text-align: justify;
    text-align: center;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


